# Seguridad
.env

# Llaves RSA y JWT
app/Config/Keys/*.pem
app/Config/Keys/*.key
app/Config/Keys/*.pub

# Dependencias
/vendor/

# Logs
/logs/*.log

# IDE y Antigravity
/.vscode/
/.idea/
.antigravity/
# Archivos subidos
/uploads/*
!/uploads/.gitkeep
